/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[2]!./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[3]!./src/app/ui/AddSpotify/AddSpotify.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Addspotify-container {
  --main-color: #c6f145;
  border: 2px solid  var(--main-color);
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[2]!./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[3]!./src/app/ui/AddPlayer/AddPlayer.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Addplayer-container {
  --main-color: #3ad1f7;
  border: 2px solid  var(--main-color);
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[5].use[2]!./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[5].use[3]!./src/app/maitre/layout.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.layout_grid__y9tRE {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "addspotify scoreboard mediaplayer"
    "addplayer scoreboard mediaplayer"
    "rank scoreboard mediaplayer"
    "rank scoreboard mediaplayer"
    "rank scoreboard playlist"
    "rank scoreboard playlist"
    "rank scoreboard playlist";
    gap: 1rem;
}

.layout_addspotify__jYm49 {
    grid-area: addspotify;
    border: #f3f827 solid 2px;
    
}
.layout_addplayer__tSsK3 {
    grid-area: addplayer;
    border: #27f8eb solid 2px;
}
.layout_rank__SHWIw {
    grid-area: rank;
    border: #2bf827 solid 2px;
}
.layout_scoreboard__wqwKg {
    grid-area: scoreboard;
    border: #ffab07 solid 2px;
}
.layout_mediaplayer__ivHQA {
    grid-area: mediaplayer;
    border: #f827e3 solid 2px;
}
.layout_playlist__b1uog {
    grid-area: playlist;
    border: #623bbb solid 2px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[2]!./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[3]!./src/app/ui/MediaPlayer/MediaPlayer.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.mp-container {
  --main-color: #f426a8;
  --secondary-color: #801157;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mp-pochette {
  border: 3px solid var(--main-color);
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
.mp-timer {
  color: white;
  font-size:10px;
  position: relative;
}
.mp-pochette img {
  width: 214px;
}
.mp-actions {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 1.25rem;
}
.MuiSvgIcon-root {
  cursor: pointer;
}
.MuiSvgIcon-root:hover {
  color: var(--secondary-color);
}
.mp-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  margin-top: 1rem;
}
.mp-infos dl {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  margin: 0;
}
.mp-infos dt {
  max-width: 2rem;
  width: 2rem;
  font-size: 10px;
  color: var(--main-color);
}
.mp-infos dd {
  font-size: 10px;
  margin-inline-start: 1rem;
  max-width: 248px;
  width: 248px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[2]!./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[3]!./src/app/ui/Rank/Rank.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.rank-container {
  --main-color: #24f34d;
  border: 2px solid  var(--main-color);
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.rank-title {
  align-self:flex-end;
}
.player {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.player-name {
  flex-grow: 1;
}
.player-name, .player-rank, .player-points {
  font-weight: 100;
  color: white;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[2]!./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[3]!./src/app/ui/Scoreboard/Scoreboard.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.scoreboard-container {
  --main-color: #f5a819;
  border: 2px solid  var(--main-color);
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: flex-end;
  max-height: 90vh; 
}
.scoreboard-title {
  align-self:flex-end;
  margin-bottom: 0.5rem;
}
.scoreboard-player {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  margin-bottom: 4px;
}
.scoreboard-name {
  flex-grow: 1;
  text-align: right;
  padding-right: 1rem;
  color: white;
  font-weight: 100;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[2]!./node_modules/.pnpm/next@15.0.0-canary.56_react-dom@19.0.0-rc-4d577fd2-20241104_react@19.0.0-rc-4d577fd2-20241104_o5ye5xjfs7zgxopj536hp3ifua/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[10].use[3]!./src/app/ui/Playlist/Playlist.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.container {
  --main-color: #d21919;
  --secondary-color: #641095;
  width: 100%;
  display: flex;
  justify-content: center;
}
.playlist-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  padding: 0.5rem 0.2rem;
  border: 2px solid var(--main-color);
  width: 280px;
  height: 300px;
  overflow-y: auto;
}
.playlist-item {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: 10px;
  width: 100%;
}
.playlist-item-current {
  background-color: #845a9b4a;
}
.playlist-item-artiste {
  color: #8e19d2 !important;
  margin-bottom: 2px;
  max-width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
  margin-right: 2px;
  font-weight: 700;
}
.playlist-item-song {
  font-weight: 100;
  margin-bottom: 2px;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
