.Addplayer-container {
  --main-color: #3ad1f7;
  border: 2px solid  var(--main-color);
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}